body{
	background-image: url('PICS/ktuBackGround.png');
	}

#mainFrame{
	width: 901px;
	height: 500px;
	border: 5px solid #008A2E;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(218,241,201,0.83) 3%, rgba(218,241,201,1) 78%, rgba(218,241,201,1) 81%, rgba(174,239,127,1) 95%, rgba(218,241,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(3%,rgba(218,241,201,0.83)), color-stop(78%,rgba(218,241,201,1)), color-stop(81%,rgba(218,241,201,1)), color-stop(95%,rgba(174,239,127,1)), color-stop(100%,rgba(218,241,201,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(218,241,201,0.83) 3%,rgba(218,241,201,1) 78%,rgba(218,241,201,1) 81%,rgba(174,239,127,1) 95%,rgba(218,241,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(218,241,201,0.83) 3%,rgba(218,241,201,1) 78%,rgba(218,241,201,1) 81%,rgba(174,239,127,1) 95%,rgba(218,241,201,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(218,241,201,0.83) 3%,rgba(218,241,201,1) 78%,rgba(218,241,201,1) 81%,rgba(174,239,127,1) 95%,rgba(218,241,201,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(218,241,201,0.83) 3%,rgba(218,241,201,1) 78%,rgba(218,241,201,1) 81%,rgba(174,239,127,1) 95%,rgba(218,241,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4daf1c9', endColorstr='#daf1c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
	
h1{
	text-align: center;
	font-size: 50px;
	width: 30px;
	letter-spacing: 5px;
	line-height: 82%;
	word-wrap: break-word;
	position: absolute;
	top: 76px;
	left: 35px;
	font-family: sans-serif;
	background-image: -webkit-gradient(linear, left top, right bottom, 
                    color-stop(0, #FF9100), color-stop(1, #FFCA83));
    background: -moz-linear-gradient(left bottom, #FF9100, #FFCA83);
    background-image: -ms-linear-gradient(bottom left, #FF9100 0%, #FFCA83 100%);
	border-radius: 20px;
	padding: 15px;
	}
	
h2{
	position: absolute;
	left: 765px;
	top: -80px;
	font-size: 200px;
	opacity: 0.5;
	}
	
.keyWord{
	color: #004EA6;
	font-weight: thick;
	}
	

ul{
	list-style-image: url('PICS/bullet.svg');
	position: absolute;
	top: 90px;
	left: 150px;
	font-size: 20px;
	font-family: sans-serif;
	width: 540px;
	}
	
#ques{
	position: absolute;
	top: 250px;
	left: 40px;
	width: 440px;
	font-size: 20px;
	font-family: sans-serif;
	}
	
#fertilizers{
	position: absolute;
	top: 310px;
	left: 620px;
	height: 200px;
	}
	
.pagechange{
	position: absolute;
	top: 530px;
	text-decoration: none;
	color: #000F10;
	font-family: sans-serif;
	}
	
#previous{
	left: 10px;
	background-color: #008A2E;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #D7D7D7;
	color: #EEEEEE;
	}
	
#next{
	left: 110px;
	background-color: #008A2E;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #D7D7D7;
	color: #EEEEEE;
	}