body{
  width: 100%;
  max-width: 785px;
  height: 600px;
  background-image: url('images/ktuBackGround.png');
  color: black;
  }

#mainFrame{
  border: 5px solid blue;
  padding: 30px;
  padding-left: 5px;
  width: 700px;
  height: 400px;
  color: white;
  background-image: url('images/Background 2.png');
  background-repeat:no-repeat;
  background-size: 745px 470px;
  text-align: center;
  font-family: helvetica;
  overflow: hidden;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  }
  
h1{
  font-size: 35px;
  padding: 15px;
  border-radius: 20px 0px 20px 0px;
  background-image: -webkit-gradient(linear, left top, right bottom, 
                    color-stop(0, #FFEB64), color-stop(1, #FFDE00));
  background: -moz-linear-gradient(left bottom, #FFEB64, #FFDE00);
  background-image: -ms-linear-gradient(bottom left, #FFEB64 0%, #FFDE00 100%);
  border: 2px;
  width: 350px;
  position: absolute;
  left: 30px;
  top: 0px;
  }
  
#squares div{
  display: inline-block;
  float: right;
  width: 50px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, 
                    color-stop(0, #FFEB64), color-stop(1, #FFDE00));
  background: -moz-linear-gradient(left bottom, #FFEB64, #FFDE00);
  background-image: -ms-linear-gradient(bottom left, #FFEB64 0%, #FFDE00 100%);
  margin-left: 25px;
  position: relative;
  top: -8px;
  }
  
#cellFrame{
  width: 320px;
  position: absolute;
  left: 200px;
  top: 120px;
  }
  
#cellRib{
  width: 225px;
  position: absolute;
  left: 222px;
  top: 140px;
  z-index: 10;
  }
  
#cellSMER{
  width: 107px;
  position: absolute;
  left: 271px;
  top: 168px;
  }

  
#cellMit{
  width: 302px;
  position: absolute;
  left: 234px;
  top: 201px;
  }
  
#cellGolgiApp{
  width: 209px;
  position: absolute;
  left: 371px;
  top: 150px;
  }
  
#cellNuc{
  width: 168px;
  position: absolute;
  left: 177px;
  top: 221px;
  z-index: 13;
  }
  
#cellLys{
  width: 309px;
  position: absolute;
  left: 223px;
  top: 234px;
  z-index: 9;
  }
  
#cellNuco{
  width: 150px;
  position: absolute;
  left: 175px;
  top: 255px;
  z-index: 14;
  }
  
#cellRER{
  width: 207px;
  position: absolute;
  left: 165px;
  top: 200px;
  }
  
.label{
  color: red;
  font-family: helvetica;
  }

#rib{
  position: absolute;
  left: 425px;
  top: 400px;
  }

#smER{
  position: absolute;
  left: 160px;
  top: 120px;
  width: 100px;
  text-align: center;
  }

#mit{
  position: absolute;
  left: 515px;
  top: 330px;
  }

#gAp{
  position: absolute;
  left: 588px;
  top: 170px;
  }

#nuc{
  position: absolute;
  left:  90px;
  top:  195px;
  }

#lys{
  position: absolute;
  left: 545px;
  top: 237px;
  }

#nuco{
  position: absolute;
  left: 113px;
  top:  330px;
  }

#cyt{
  position: absolute;
  left: 135px;
  top: 386px;
  }

#cm{
  position: absolute;
  left: 495px;
  top: 104px;
  }

#rER{
  position: absolute;
  left: 50px;
  top: 233px;
  width: 100px;
  text-align: center;
  }


#inf{
  position: absolute;
  top: 95px;
  left: 10px;
  color: black;
  }
  
#linkPar{
  position: absolute;
  top: 420px;
  left: 10px;
  color: black;
  }

  
  
#previous{
  text-decoration: none;
  color: black;
  background-color: rgb(85,255,0);
  border: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 15px;
  }
  
#next{
  text-decoration: none;
  color: black;
  background-color: rgb(85,255,0);
  border: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  }
  
#glossary{
  text-decoration: none;
  color: black;
  background-color: rgb(155,255,230);
  border: 15px;
  padding: 10px;
  margin-left: 4px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  position: absolute;
  top: 492px;
  }
  
#sources{
  color: white;
  position: absolute;
  left: 700px;
  top: 500px;
  }
  
#vid{
  color: blue;
  }
  
#vid:hover{
  font-size: 100%;
  text-decoration: underline;
  }
  
a{
  text-decoration: none;
  color: red;
  }
  
a:hover {
  font-size: 110%;
  font-style: em;
  color: green;
  }