body{
  width: 100%;
  max-width: 785px;
  height: 600px;
  background-image: url('images/ktuBackGround.png');
  color: black;
  }

#mainFrame{
  border: 5px solid blue;
  padding: 30px;
  padding-left: 5px;
  width: 700px;
  height: 400px;
  background-image: url('images/Background 2.png');
  background-repeat:no-repeat;
  background-size: 745px 470px;
  text-align: left;
  font-family: helvetica;
  overflow: hidden;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  }
  
h1{
  font-size: 35px;
  padding: 15px;
  border-radius: 20px 0px 20px 0px;
  background-image: -webkit-gradient(linear, left top, right bottom, 
                    color-stop(0, #FFEB64), color-stop(1, #FFDE00));
  background: -moz-linear-gradient(left bottom, #FFEB64, #FFDE00);
  background-image: -ms-linear-gradient(bottom left, #FFEB64 0%, #FFDE00 100%);
  border: 2px;
  width: 350px;
  position: absolute;
  left: 30px;
  top: -1px;
  }
  
#squares div{
  display: inline-block;
  float: right;
  width: 50px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, 
                    color-stop(0, #FFEB64), color-stop(1, #FFDE00));
  background: -moz-linear-gradient(left bottom, #FFEB64, #FFDE00);
  background-image: -ms-linear-gradient(bottom left, #FFEB64 0%, #FFDE00 100%);
  margin-left: 25px;
  position: relative;
  top: -8px;
  }
  
#wordBox{
  position: absolute;
  top: 120px;
  left: 10px;
  width: 300px;
  height: 350px;
  color: black;
  }
  
#pyramid{
  width: 390px;
  position: absolute;
  left: 320px;
  top: 80px;
  }

  
#previous{
  text-decoration: none;
  color: black;
  background-color: rgb(85,255,0);
  border: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 15px;
  }
  
#next{
  text-decoration: none;
  color: black;
  background-color: rgb(85,255,0);
  border: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  }
  
#exit{
  text-decoration: none;
  color: black;
  background-color: rgb(85,255,0);
  border: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  }
  
#glossary{
  text-decoration: none;
  color: black;
  background-color: rgb(155,255,230);
  border: 15px;
  padding: 10px;
  margin-left: 4px;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  position: absolute;
  top: 492px;
  }
  
#sources{
  color: white;
  position: absolute;
  left: 700px;
  top: 500px;
  }
  
a:hover {
  font-size: 110%;
  font-style: em;
  color: green;
  }